.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.loading{
  font-size: 1.8rem;
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
}
.movies{
  width: 60%;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}